h1 {
  color: #7a4347;
  font-family: 'Cabin Sketch', cursive;
  font-size: 68px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

p {
  font-family: 'Special Elite', cursive;
  font-size: 24px;
  color: #7a4347;
  text-align: center;
}

ul {
  font-family: 'Special Elite', cursive;
  font-size: 24px;
  color: #7a4347;
}

li {
  padding: 10px;
  font-size: 22px;
}

#banner {
  color: tomato;
  font-size: 32px;
  text-align: center;
  padding: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
  background-color: rgba(252, 98, 108, 0.6);
  background-image: url('http://www.transparenttextures.com/patterns/dark-mosaic.png');
  border-radius: 15px;
}

.cell {
  display: inline-block;
  padding: 40px;
  border: 2px solid #996467;
  border-radius: 100%;
  background-color: #f9e5e5;
  box-shadow: inset 0 0 10px #000000;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(252, 98, 108, 0.2);
  background-image: none;
}

.red {
  background-image: url('./images/red.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.blue {
  background-image: url('./images/blue.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.header .cell {
  border: none;
  box-shadow: none;
  background-color: rgba(252, 98, 108, 0);
}

main {
  display: flex;
  flex-direction: column;
  height: 750px;
  width: 600px;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #f9e5e5;
  border-radius: 40px;
  padding: 20px;
}

#winnerBanner {
  color: #7a0159;
  border: solid #7a4347 1px;
  border-radius: 60px;
  font-family: 'Cabin Sketch', cursive;
  background: rgba(252, 98, 108, 0.6);
  padding: 48px;
  font-size: 72px;
  max-width: 220px;
  text-align: center;
  opacity: 0;
  margin: 0 auto;
  top: 30%;
  position: absolute;
  left: 39%;
}

#startOver {
  color: #7a4347;
  font-size: 24px;
  text-align: center;
  padding: 5px;
  border: 2px solid #7a4347;
  display: inline-block;
  margin: 10px auto;
  font-family: 'Cabin Sketch', cursive;
  background: rgba(252, 98, 108, 0.6);
}

.button {
  color: #7a4347;
  font-size: 48px;
  text-align: center;
  padding: 10px;
  border: 2px solid #7a4347;
  display: block;
  margin: 20px auto;
  font-family: 'Cabin Sketch', cursive;
  text-decoration: none;
  max-width: 150px;
  background: rgba(252, 98, 108, 0.6);
}

footer {
  text-align: center;
  color: #7a4347;
}

.split .letter {
  display: inline-block;
  line-height: 1em;
}

.audio {
  opacity: 0;
}
